@charset "utf-8";
/* CSS Document */
#container {
	width: 960px;
}

#header {
	position: relative;
	top: -70px;
	margin-top: 10px;
	margin-bottom: 10px;
}

#titel {
	margin-left: 110px;
	float: left;
}

#twitter {
	float: right;
	margin-right: 15px;
	width:46px; 
	height:46px;
}

#twitter:hover {
	background-position: -46px 0;
}
	

#rss {
	float: right;
	margin-right: 10px;
	width:46px; 
	height:46px;
}

#banner {
	position: relative;
	top: 60px;
	margin-top: 10px;
	background-image:url(../images/index_15.png);
	background-repeat: repeat-x;
}

#usa-vlag {
	margin-left: 38px;
}

#blogrol {
	width: 500px;
	float: left;
	margin-top: 10px;
}

.post {
	margin-left: 60px;
	margin-top: 10px;
	margin-bottom: 10px;
}

.post .datum {
	position: relative;
	width: 20px;
}
.post .content {
	position: relative;
	top: -50px;
	left: 80px;
	width: 310px;
}

#navigation {
	width: 360px;
	float: right;
	margin-top: 10px;
}

#labels {
	position: relative;
	float: right;
}

#reading {
	position: relative;
	float: left;
}

#listening {
	position: relative;
	float: left;
}

#gallerij {
	position: relative;
	float: right;
}