@charset "utf-8";
/* CSS Document */
@font-face {
  font-family: Charis SIL;
  src: url(inc/CharisSILR.ttf) format("truetype");
  /* font-weight, font-style ==> default to normal */
}
 
@font-face {
  font-family: Charis SIL;
  src: url(inc/CharisSILI.ttf) format("truetype");
  font-style: italic;
}

@font-face {
  font-family: Charis SIL;
  src: url(inc/CharisSILB.ttf) format("truetype");
  font-weight: bold;
}

@font-face {
  font-family: Charis SIL;
  src: url(inc/CharisSILBI.ttf) format("truetype");
  font-style: italic;
  font-weight: bold;
}

body {
	font-size: 66.7%;
	font-size: 1.0em;
	line-height: 1.6em;
}

h1 {
	margin: 0px;
	padding: 0px;
}

h2 {
	margin: 0px;
	padding: 0px;
}

h3 {
	margin: 0px;
	padding: 0px;
}

.content {
	font-family:Verdana, Geneva, sans-serif;
	text-align: justify;
}

.content h2 {
	font-size: 2.6em;
	color: #C00;
	font-family: "Charis SIL", Charis SIL, "Charis sil", Georgia;
	font-style: italic;
	margin-bottom: 5px;
}

.post .datum {
	font-family: "High Tower Text", Georgia;
	font-size: 2em;
	text-align: center;
	color: #40403e;
}
.datum .numeriek {
	display: block;
	font-size: 2.1em;
	text-align: center;
	margin-bottom: 2px;
}

.book {
	line-height: 0.8em;
	margin-bottom: 10px;
}

.author {
	font-family: Verdana, Geneva, sans-serif;
	font-style:italic;
	font-size: 0.9em;
}

.book h3 {
	font-family:Verdana, Geneva, sans-serif;
	font-weight: 400;
	font-size: 1em;
}

.song {
	line-height: 0.8em;
	margin-bottom: 10px;
}

.song h3 {
	font-family:Verdana, Geneva, sans-serif;
	font-weight: 400;
	font-size: 1em;
	margin-bottom: 5px;
}

.song .remix {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 0.9em;
	font-style: italic;
}